<!DOCTYPE html>
<html>
    <head>
        <title>Weekday Calculator</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    </head>
    <body>
        <div class="container">
            <h1>Weekday Calculator</h1>
            <p>Enter the date you want the weekday for in this format: </p>
            <form action="/results">
                <div class="form-group">
                    <label for="date">Phrase:</label>
                    <input id="date" name="date" class="form-control" type="date">
                </div>
                <button type="submit" class="btn-success">Find the day of the week!</button>
            </form>
        </div>
    </body>
</html>
